p {
    font-family: Verdana, "DejaVu Sand", sans-serif;
    background-color: #FFB6C1;
}

.tall {
    font-size: 24px;
}

#two {
    color: #0000FF;
    font-size: 36px;
}

#four {
    background-color: #00FF00;
    font-weight: bold;
}