body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 420px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
  padding-top: 16px;
}

.title {
  background: #e3f4ff;
  margin: 10px;
  font-size: inherit;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  margin: 10px;
  padding-left: 10px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.button-container {
  background: #e3f4ff;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: auto;
  padding: 5px;
  padding-left: 16px;
  padding-right: 16px;
}